*{
	margin:0;
	padding:0;
	border:0;
}

a{
	text-decoration:none;
}

ul{
	list-style: none;
}

.all_ct{
	padding-bottom:1.25rem;
}

.wrap{
	position:relative;
	overflow-y:auto;
}

.header{
	z-index:1;
	position: fixed;
	 background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)); 
   	background: -o-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)); 
    background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)); 
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
	width:100%;
	height:1.25rem;
}
.header input{
	box-sizing:border-box;
	position: fixed;
	z-index:2;
	left:2.1875rem;
	top:0.1562rem;
	width:5.9375rem;
	height:0.6719rem;
	border-radius:0.7812rem;
	font-size:0.25rem;
	padding-left:0.9375rem;
	box-sizing:border-box;
}
.header img{
	width:0.5625rem;
	height:0.4375rem;
	position:absolute;
	left:2.3438rem;
	top:0.2344rem;
	z-index:3;
}

.header.bgfff{
	background: rgba(255,255,255,0.8);
	border-bottom: 1px #eee solid;
}

.header.bgfff .login{
	color: #333;
}

.header.bgfff .search{
	border-color: #eee;
}

.header p a{
	color:#fff;
	font-size:0.375rem;
	position:absolute;
	right:0.65rem;
	top:0.3562rem;
	display:inline-block;

}

.banner{ width:100%;
		margin:0 auto;
		position:relative;
		overflow:hidden;
	}

.banner .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
.banner .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.banner .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.banner .hd ul .on{ background:#FE6C9C;  }



.banner .bd{ position:relative; z-index:0; }
.banner .bd li img{ width:100%;}

.menu{
	width: 100%;
	margin-top:0.3125rem;
}

.menu .list_1{
	width:100%;
	margin-bottom:0.4375rem;
	text-align:center;

}

.menu li{
	display:inline-block;
	box-sizing:border-box;
}

.menu .list_1 li,.list_2 li{

	width: 22%;
}

.menu li img{
	width:1.25rem;
	height:1.25rem;
}

.menu .list_1 li a p{
	font-weight:bold;
	color:gray;
	padding-top:0.25rem;
	font-size:0.3438rem;
}

.menu .list_2 li a p{
	font-weight:bold;
	color:gray;
	padding-top:0.25rem;
	font-size:0.3438rem;
}

.menu .list_2{
	width:100%;
	text-align:center;
	padding-bottom: 0.375rem;
	border-bottom:1px #eeeeee solid;
}

.text_inner{
	height:0.875rem;
	margin-top:0.3125rem;
	border-bottom:1px #eeeeee solid;
	overflow:hidden;
}
.text_inner .border_r img{
	padding-left:0.3125rem;
}

.text_inner ul{
	float:right;
	padding-right:1.7188rem;
} 

.border_r{
	display:inline-block;
	border-right:1px gray solid;
	padding-right:0.3125rem;
}
.border_r img{
	width:1.5312rem;
	height:0.3594rem;
}

.text_inner .list_3{
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.text_inner .list_3 li{
	height: 0.8812rem;
}

.text_inner .list_3 li img{
	vertical-align:middle;
	width:0.4062rem;
	height:0.4062rem;
}

.text_inner .list_3 li span{
	vertical-align:middle;
	font-size:0.2812rem;
	color:gray;
	font-weight:bold;
}

.null{
	width: 100%;
	height:0.1875rem;
	background: #f7f7f7;
	border-bottom:1px #eeeeee solid;
}

.times{
	width: 100%;
	height:0.8906rem;
	position:relative;
}

.times p:nth-child(1){
	margin-top:0.2969rem;
	float:left;
	line-height:0.5469rem;
	margin-left:0.3125rem;
}
.times>p img{
	width:0.2812rem;
	height:0.2812rem;
}
.times>p a{
	color:red;
	font-weight:bold;
	font-size:0.375rem;
}
.times>p time{
	font-size:0.2812rem；
	color:#000;
	font-weight:bold;
}

.times>p a span{
	color:gray;
}

.times p:nth-child(2){
	border:1px red solid;
	border-radius:0.1562rem;
	color:red;
	font-size:0.25rem;
	font-weight:bold;
	padding:0.125rem;
	position:absolute;
	right:0.4688rem;
	top:0.2rem;
}

.times .sp{
	font-size:0.4688rem;
	position:absolute;
	right:0.0781rem;
	top:0.25rem;
}
.footer{
	height:1.25rem;
	width: 100%;
	background:#fff;
	position:fixed;
	bottom:0;
	z-index:9999;
}

.footer ul{
	 display: flex;
	 justify-content:space-around;
	 margin-top:0.2344rem;
}

.footer ul li a img{
	width: 0.625rem;
	height:0.625rem;
}

.items{
	border-top:1px #eeeeee solid;
	width:100%;
}
.items ul{
	display: flex;
	justify-content:space-around;
	margin-top:0.2344rem;
	margin-bottom:0.3125rem；
}

.items ul li {
	border-right:1px #eeeeee solid;
}

.items ul li:nth-child(4){
	border-right:none;
}

.items ul li a{
	color:#a3a3a3;
	padding-top: 0.1562rem;

}
.items ul li a img{
	width:1.9844rem;
	height:1.8438rem;
	margin:0 auto;
 	display: block;
}

.b_top{
	border-top:1px #eeeeee solid;
	height:0.2031rem;
	width:100%;
	background-color:#f7f7f7;
}

.b_pic img{
	width: 100%;
	height:1.4688rem;
}

.b_bottom{
	clear:both;
	border-bottom:1px #eeeeee solid;
	height:0.1875rem;
	width:100%;
	background-color:#f7f7f7;
}

.items_1{
	width: 100%;
}


.items_1 .list_4 li{
	float:left;
}

.items_1 .list_4 li:nth-child(1){
	border-right:1px #eeeeee solid;
}
.items_1 .list_5 li:nth-child(1){
	border-right:1px #eeeeee solid;
}

.items_1 .list_4 li:nth-child(1) img{
	width:4.9844rem;
	height:2.5469rem;

}

.items_1 .list_4 li:nth-child(2) img{
	width:2.4844rem;
	height:2.5469rem;
}
.items_1 .list_4 li:nth-child(3) img{
	width:2.5rem;
	height:2.5469rem;
}

.items_1 .list_5 li{
	float:left;
}

.items_1 .list_5{
	clear:both;
	width:100%;
	border-top:1px #eeeeee solid;
}



.items_1 .list_5 li{
	display:block;
}
.items_1 .list_5 li:nth-child(1) img{
	width:4.9844rem;
	height:2.5469rem;
}

.items_1 .list_5 li:nth-child(2) img{
	width:2.4844rem;
	height:2.5469rem;
}
.items_1 .list_5 li:nth-child(3) img{
	width:2.5rem;
	height:2.5469rem;
}

.b_bottom2{
	clear:both;
	border-bottom:1px #eeeeee solid;
	height:0.1875rem;
	width:100%;
	background-color:#f7f7f7;
}

.times2{
	width: 100%;
	height:0.8906rem;
	position:relative;
}

.times2 p:nth-child(1){
	margin-top:0.2969rem;
	float:left;
	line-height:0.5469rem;
	margin-left:0.3125rem;
}
.times2 em{
	font-style:normal;
	color:gray;
}
}
.times2>p img{
	width:0.2812rem;
	height:0.2812rem;
}
.times2>p a{
	color:red;
	font-weight:bold;
	font-size:0.375rem;
}
.times2>p time{
	font-size:0.2812rem；
	color:#000;
	font-weight:bold;
}

.times2>p a span{
	color:gray;
}

.times2 p:nth-child(2){
	border-radius:0.1562rem;
	color:gray;
	font-size:0.25rem;
	font-weight:bold;
	padding:0.125rem;
	position:absolute;
	right:0.4688rem;
	top:0.2rem;
}

.times2 .sp{
	font-size:0.4688rem;
	position:absolute;
	right:0.1562rem;
	top:0.25rem;
	color:gray;
}

.inner3{
	border-top:1px #eeeeee solid;
	width: 100%;
}

.inner3 .list_6 li{
	float:left;
}

.inner3 .list_6 li a img{
	width:5.0rem;
	height:4.1406rem;
}

.inner3 .list_6 li:nth-child(2) a img{
	width:2.5rem;
	height:2.0625rem;
	border-bottom:1px #eeeeee solid;
	display:block;
}

.inner3 .list_6 li:nth-child(3) a img{
	width:2.4844rem;
	height:2.0625rem;
	border-bottom:1px #eeeeee solid;
	display:block;
}

.inner3 .list_6 li:nth-child(4) a img{
	width:2.5rem;
	height:2.0625rem;
}
.inner3 .list_6 li:nth-child(5) a img{
	width:2.4844rem;
	height:2.0625rem;
}

.b_bottom3{
	clear:both;
	border-bottom:1px #eeeeee solid;
	height:0.1875rem;
	width:100%;
	background-color:#f7f7f7;
}

.times3{
	width: 100%;
	height:0.8906rem;
	position:relative;
}

.times3 p:nth-child(1){
	margin-top:0.2969rem;
	float:left;
	line-height:0.5469rem;
	margin-left:0.3125rem;
}
.times3 em{
	font-style:normal;
	color:gray;
}
}
.times3>p img{
	width:0.2812rem;
	height:0.2812rem;
}
.times3>p a{
	color:red;
	font-weight:bold;
	font-size:0.375rem;
}
.times3>p time{
	font-size:0.2812rem；
	color:#000;
	font-weight:bold;
}

.times3>p a span{
	color:gray;
}

.times3 p:nth-child(2){
	border-radius:0.1562rem;
	color:gray;
	font-size:0.25rem;
	font-weight:bold;
	padding:0.125rem;
	position:absolute;
	right:0.4688rem;
	top:0.2rem;
}

.times3 .sp{
	font-size:0.4688rem;
	position:absolute;
	right:0.1562rem;
	top:0.25rem;
	color:gray;
}

.inner4{
	border-top:1px #eeeeee solid;
	width: 100%;
}

.inner4 .list_7 li{
	float:left;
}
.inner4 .list_7 li:nth-child(1) a img{
	width:5.0rem;
	height:4.9688rem;
	border-right:1px #eee solid;
	display:block;
}
.inner4 .list_7 li:nth-child(2) a img{
	width:2.4844rem;
	height:2.5rem;
	display:block;
}
.inner4 .list_7 li:nth-child(3) a img{
	width:2.4844rem;
	height:2.5rem;
	display:block;
	border-bottom:1px #eee solid;
}
.inner4 .list_7 li:nth-child(4) a img{
	width:2.4844rem;
	height:2.4844rem;
	display:block;
}
.inner4 .list_7 li:nth-child(5) a img{
	width:2.4844rem;
	height:2.4844rem;
	display:block;
}
.inner4 .list_8{
	width: 100%;
	clear:both;
	border-top:1px #eee solid;
}

.inner4 .list_8 li{
	float:left;
}

.inner4 .list_8 li:nth-child(1) img{
	width:2.4844rem;
	width:2.4844rem;
	display:block;
	border-right:1px #eee solid;
}
.inner4 .list_8 li:nth-child(2) img{
	width:2.4844rem;
	width:2.4844rem;
	display:block;
	border-right:1px #eee solid;
}

.inner4 .list_8 li:nth-child(3) img{
	width:2.4rem;
	width:2.4rem;
	display:block;
	border-right:1px #eee solid;
}

.inner4 .list_8 li:nth-child(4) img{
	width:2.4844rem;
	width:2.4844rem;
	display:block;
}

.b_bottom4{
	clear:both;
	width: 100%;
	height: 0.1875rem;
	border-top:1px #eee solid;
	border-bottom:1px #eee solid;
	background:#f7f7f7;
}

.regate .b_bottom5{
	height:0.9375rem;
	width: 100%;
	border-bottom:1px #eee solid;
}

.regate .b_bottom5 img{
	width:0.375rem
	height:0.3281rem;
	margin-top:0.1562rem;
}

.b_bottom5 a{
	color:#333333;
	font-size:0.375rem;
	padding-top:-0.1562rem;
}
.list_9{
	width:100%;
	overflow:hidden;
}

.list_9 li{
	float:left;
	margin:0.3125rem 0;
}

.list_9 li:nth-of-type(2n-1){
	border-right:1px #cccccc solid;
	width: 49%;
}

.list_9 li:nth-of-type(2n){
	width: 50%;
}


.list_9 li a img{
	display: block;
	width:4.3594rem;
	height:4.5312rem;
	margin:0 auto;
}

.list_9 li p{
	width:4.3594rem;
	font-size:0.3438rem;
	margin:0 auto;
}

.list_9 li p span{
	color:red;
	font-size:0.4688rem;
}
.list_9 li p s{
	color:gray;
}



/*loading*/
.loading{
	overflow:hidden;
	height:0.9375rem;
	line-height:0.9375rem;
	text-align: center;
	background: #f7f7f7;
	color:gray;
	width:100%;
}

.loading img{
	display: inline-block;
	height:0.625rem;
	-webkit-animation: loading 1s linear infinite ;
	animation: loading 1s ease linear infinite ;
}

@keyframes loading{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}

.loading *{
	vertical-align: middle;
}