*{
	margin:0;
	padding:0;
	border:0;
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

.clearfix:after{
	display:block; 
	overflow:hidden; 
	clear:both; 
	height:0; 
	visibility:hidden; 
	content:".";
}

header{
	width:100%;
	height:1.25rem;
	background: #fff;
	/*padding:0 3%;*/
}

header .hd-img1{
	float:left;
	width:0.2188rem;
	height:0.3438rem;
	margin-top:0.4688rem;
	padding-left:3%;
}

header .list1{
	margin-left:2.5rem;
}

header .list1 li{
	float:left;
	font-size:0.375rem;
	margin-left:0.4688rem;
	margin-top:0.3888rem;
	padding-bottom:0.3125rem;
}

.atn{
	width:0.9375rem;
	text-align:center;
	border-bottom:2px red solid;
}

header .hd-img2{
	float:right;
	width:0.6562rem;
	height:0.5312rem;
	margin-right:1.25rem;
	margin-top:0.3688rem;
}

header .list2{
	display:inline-block;
	margin-right:-1.5375rem;
	margin-top:0.6588rem;
	float:right;
}

header .list2 li{
	background:#000;
	height:0.1375rem;
	width:0.1375rem;
	border-radius:50%;
	float:left;
	margin-left:0.0712rem;
}


/*内容部分*/
.content .img-bg1{
	width:100%;
	height:7.0312rem;
}

.content .font1{
	margin-top:0.3125rem;
	font-size:0.375rem;
	color:#333333;
	padding:0 3%;
}

.content .price{
	padding:0 3%;
	margin-top:0.3906rem;
	margin-bottom:0.4688rem;
}

.price .font2{
	font-size:0.4688rem;
	color:red;
	float:left;
}

.price .font2 span{
	font-size:0.2188rem;
	background:red;
	color:#fff;
	display:inline-block;
	margin-left:0.2344rem;
	padding:0.0781rem 0.0781rem;
}

.price .font3{
	margin-top:0.25rem;
	font-size:0.2812rem;
	float:right;
	width:2.8125rem;
}

.price .font3 span{
	height:0.2812rem;
	width:1px;
	background:gray;
	display:inline-block;
	margin:0 10%;
}

.strip{
	display:inline-block;
	width:100%;
	height:1px;
	background: #f7f7f7;
}

.get{
	height: 0.9375rem;
	width:100%;
	padding:0 3%;
	position:relative; 
}

.get .font4{
	float:left;
	width:2.125rem;
	margin-top:0.3906rem;
}

.get .font4 span{
	display:inline-block;
}

.get .font4 .img3{
	padding-right:0.1562rem;
	width:0.4062rem;
	height:0.2812rem;
	display:inline-block;
}

.get .font5{
	position:absolute; 
	right:0.9375rem;
	top:0.3906rem;
}

.get .font5 .img4{
	width:0.1562rem;
	height:0.2812rem;	
}

.content .strip1{
	height: 12px;
	width:100%;
	background: #eee;
	border-top:1px #eee solid;
	border-bottom:1px #eee solid;
}

.size{
	height:0.9375rem;
	width:100%;
	padding:0 3%;
}

.size p{
	font-size:0.3438rem;
	line-height:0.9375rem;
}

.size .img5{
	display:inline-block;
	width:0.1562rem;
	height:0.2812rem;
	float:right;
	margin-top:-0.5469rem;
	margin-right:0.6375rem;
}

.strip2{
	height: 1px;
	background:#f7f7f7;
	width:94%;
	margin:0 auto;
}

.people{
	width:100%;
	height:0.9375rem;
	padding:0 3%; 
}

.people .font6 img{
	width:0.7812rem;
	height:0.7812rem;
	float:left;
	margin-top:0.1562rem;
}

.people .font6 span{
	display:inline-block;
	color:gray;
	margin-top:0.3125rem;
	padding-left:0.1562rem;
}

.people .list3{
	display:inline-block;
	float:right;
	margin-right:0.625rem;
	width:1.8125rem;
	margin-top:-0.3125rem;
}

.people .list3 li{
	display:inline-block;
	float:left;
	padding-left:0.0625rem;
}

.people .list3 li img{
	display:inline-block;
	width:0.2812rem;
	height:0.2812rem;
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:1.5625rem;
	background: #fff;
	padding:0 3%;
	border-top:1px #ccc solid;
}

footer .list4 li{
	float:left;
	border-right:1px #ccc solid;
	margin-left:0.1562rem;
	padding-right:0.4062rem;
}

.list4{
	margin-top:0.3125rem;
}

footer .list4 li p{
	text-align:center;
	margin-top:0.0781rem;
}

footer .list4 li:nth-child(2){
	padding-left:0.4062rem;
}

footer .list4 li:nth-child(3){
	padding-left:0.4062rem;
	border-right:0;
}

.btn1,.btn2{
	font-size:0.375rem;
	float:left;
	margin-left:0.3125rem;
}

.btn1{
	color:red;
	border:1px red solid;
	padding:0.2188rem;
	border-radius:10%;
}

.btn2{
	color:#fff;
	background: red;
	padding:0.25rem;
	border-radius:5%;
}

/*选择尺码*/
.next{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	display:none;
}

.second{
	position:fixed;
	z-index:999;
	width:100%;
	height:12.5rem;
	background:#fff;
	bottom:0;
	
}

.wrap{
	margin-top:0.5rem;
	margin-bottom:0.4688rem;
	padding:0 3%; 
}

.wrap .img6{
	width:2.0312rem;
	height:2.0312rem;
	float:left;
}

.cost{
	display:block;
	margin-left:2.525rem;
	padding:0 3%; 
}

.cost .font7{
	font-size:0.4375rem;
	color:red;
}

.wrap .img7{
	float:right;
	margin-right:0.5625rem;
	margin-top:-1.875rem;
	width:0.2812rem;
	height:0.2812rem;
}

.cost .font8{
	margin-top:0.4688rem;
	font-size:0.2812rem;
	color:gray;
}

.cost span{
	display:block;
	margin-top:0.1562rem;
	color:gray;
}

.strip4{
	width:94%;
	height:1px;
	background:#eee;
}

.color{
	margin-top:0.3125rem;
	height:2.0312rem;
	width:100%;
	margin-bottom:0.2344rem;
	padding:0 3%; 
}

.color p{
	font-size:0.3438rem;
}

.color span{
	display:inline-block;
	margin-top:0.3125rem;
	font-size:0.3438rem;
	background:red;
	color:#fff;
	padding:0.1406rem 0.3125rem;
	border-radius:5%;
}

.size2{
	height:2.0rem;
	width:100%;
	padding:0 3%; 
}

.size2 p{
	margin-top:0.3125rem;
	font-size:0.3438rem;
}

.size2 .list5{
	margin-top:0.3438rem;
	margin-bottom:0.4062rem;
}

.size2 .list5 li{
	background:#eee;
	padding:0.2031rem;
	border-radius:5%;
	margin-left:0.3125rem;
	float:left;
}

.number{
	margin-top:0.3125rem;
	padding:0 3%; 
}

.number p{
	font-size:0.3438rem;
}

.number .list5 li{
	float:left;
	font-size:0.3438rem;
	background: #eee;
	margin-left:0.0781rem;
}

.number .list5{
	margin-top:0.3125rem;
}

.number .list5 li:nth-child(1),.number .list5 li:nth-child(3){
	padding:0.25rem 0.3438rem;
}


.number .list5 li:nth-child(2){
	padding:0.25rem 0.3906rem;
}

.btn3{
	position:fixed;
	bottom:0;
	width:100%;
	height:1.25rem;
	background: red;
	color:#fff;
	display:inline-block;
	font-size:0.4375rem;
	text-align:center;
	line-height:1.25rem;
}